/*USING FLOATS FOR LAYOUT :*/

/* h1 { */
/* background-color: brown; */
/* padding-bottom: 30px;
  float: left;
}
nav a {
  margin-right: 50px;
  float: right;
  margin-top: 20px;
}
h2 {
  clear: both; */
/* } */

/* building a simple float layout */
/* article {
  background-color: aqua;
  width: 800px;
  float: left;
  margin-left: 40px;
}
aside {
  background-color: blue;
  width: 400px;
  float: right;
  margin-right: 40px;
} */
/* footer { */
/* background-color: brown;
  clear: both; /*(clear = used when we do not want it to float around eveyrone) */
/* margin: 40px; 
} */

/* box-sizing : border-box:  */
/* * {
  box-sizing: border-box;
} */

/* USING FLEXBOX */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: antiquewhite;
}
.author-box {
  display: flex;
  align-items: center;
}
#author {
  margin: 0;
  margin-left: 20px;
}
/* .related {
  display: flex;
} */
.related-points {
  display: flex;
  margin-bottom: 25px;
  align-items: center;
}
.related-author {
  margin: 0;
  font-size: 15px;
  font-style: italic;
}
.related-link:link {
  font-weight: bold;
  margin-bottom: 7px;
  display: block;
}

/* Building a simple flexbox layout */
.row {
  display: flex;
  align-items: flex-start;
}
aside {
  background-color: bisque;
  flex: 0 0 350px;
  border-top: 7px grey solid;
  border-bottom: 7px grey solid;
  margin-top: 30px;
}
h4 {
  text-align: center;
  font-size: larger;
}
